table{
    width:60%;
    border-collapse: collapse;
    margin: 100px auto;
    background: 1px rgb(232, 232, 154);
}
th,td{
    height: 50px;
    vertical-align: center;
    border:1px solid black;
}
body {
    background-image: url(upload_img.jpeg);
    background-size: cover;
}